
   INFO  Running migrations.  

  2025_08_10_164027_add_user_id_to_solicitud_p_p_s_table .............  
  Γçé select exists (select 1 from information_schema.tables where table_schema = schema() and table_name = 'solicitud_pps' and table_type in ('BASE TABLE', 'SYSTEM VERSIONED')) as `exists`  
  2025_08_10_183808_add_observaciones_to_solicitud_p_p_s_table .......  
  Γçé select exists (select 1 from information_schema.tables where table_schema = schema() and table_name = 'solicitud_p_p_s' and table_type in ('BASE TABLE', 'SYSTEM VERSIONED')) as `exists`  
  2025_08_11_062839_create_solicitud_pps_table .......................  
  Γçé select exists (select 1 from information_schema.tables where table_schema = schema() and table_name = 'solicitud_p_p_s' and table_type in ('BASE TABLE', 'SYSTEM VERSIONED')) as `exists`  
  Γçé create table `solicitud_p_p_s` (`id` bigint unsigned not null auto_increment primary key, `user_id` bigint unsigned null, `tipo_practica` enum('normal', 'trabajo') not null, `modalidad` enum('presencial', 'semipresencial', 'teletrabajo') null, `numero_cuenta` varchar(255) not null, `nombre_empresa` varchar(255) not null, `direccion_empresa` varchar(255) not null, `nombre_jefe` varchar(255) not null, `numero_jefe` varchar(255) not null, `correo_jefe` varchar(255) not null, `puesto_trabajo` varchar(255) null, `anios_trabajando` int unsigned null, `fecha_inicio` date null, `fecha_fin` date null, `horario` varchar(255) null, `observaciones` text null, `estado_solicitud` enum('SOLICITADA', 'APROBADA', 'RECHAZADA', 'CANCELADA', 'FINALIZADA') not null default 'SOLICITADA', `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Γçé alter table `solicitud_p_p_s` add constraint `solicitud_p_p_s_user_id_foreign` foreign key (`user_id`) references `users` (`id`) on delete set null  
  Γçé select exists (select 1 from information_schema.tables where table_schema = schema() and table_name = 'solicitud_p_p_s' and table_type in ('BASE TABLE', 'SYSTEM VERSIONED')) as `exists`  
  2025_08_12_001913_add_deleted_at_to_solicitud_p_p_s_table ..........  
  Γçé select exists (select 1 from information_schema.tables where table_schema = schema() and table_name = 'solicitud_p_p_s' and table_type in ('BASE TABLE', 'SYSTEM VERSIONED')) as `exists`  

